.app {
  min-height: 100vh;
}

main {
  width: 100%;
}

/* Pages other than home need padding for fixed header */
.page-content {
  padding-top: 80px;
}

/* Home page doesn't need extra padding due to hero design */
.home-page .page-content {
  padding-top: 0;
}